# Ignore everything
*

# Don't ignore .gitignore and .gitmodules
!.gitignore
!.gitmodules

# Don't ignore submodule directories
!cv-generator/
!UltraContextAI/
!le-journal/

# But ignore everything inside submodule directories
cv-generator/*
UltraContextAI/*
le-journal/*

# Don't ignore .cursor directories and their contents anywhere
!.cursor/
!**/.cursor/
!**/.cursor/**

